// Módulos
@use '../functions/general-functions' as *;

// Determinação de medidas

/// Para páginas sem barra de rolagem vertical
@mixin enclose-viewport {
  html {
    height: 100%;
	  & body {
      height: 100%; overflow-y: hidden
    }
  }
}

/// Superpõe elemento a demais na tela de visualização
@mixin block-viewport( $background: hsla( 0, 0, 0, .85 ), $z-index: 2 ) {
  box-sizing: border-box; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: $z-index; background-color: $background
}

/// Define área de layout
@mixin set-grid( $grid: 120rem, $padding-x: 1.5rem, $media: null, $margin: 0 auto 0 ) {
  box-sizing: border-box; width: 100%; max-width: $grid + o-first( $padding-x ) + o-last( $padding-x );
  padding: { left: o-first( $padding-x ); right: o-last( $padding-x ) }; margin: $margin;
  @if $media {
    @each $query, $padding in $media {
      @media( #{ unquote( $query ) } ) {
        padding: { left: o-first( $padding ); right: o-last( $padding ) }
      }
    }
  }
}

/// Preenche toda a área do ascendente
@mixin fill( $padding: 0 ) {
  box-sizing: border-box; width: 100%; height: 100%; padding: $padding
}

/// Define largura de um elemento dentro de um grupo de colunas em que potencialmente se inseri
@mixin set-columns( $columns, $margin, $spaceCount: 1 ) {
  width: calc( ( #{ $spaceCount } * ( 100% - ( #{ $margin } * ( #{ $columns } - 1 ) ) )/#{ $columns } ) + ( #{ $margin } * ( #{ $spaceCount } - 1 ) ) )
}

// Layout flutuante

/// Define largura de uma coluna dentro de um layout flutuante para esquerda
@mixin set-columns-left( $columns, $margin, $spaceCount: 1, $delimiters: null ) {
  float: left; @include set-columns( $columns, $margin, $spaceCount );
  &:not( :last-child ) {
    margin-right: $margin
  }
  @if $delimiters {
    @each $position in $delimiters {
      &:nth-child( #{ $position } ) {
        margin-right: 0
      }
    }
  }
}

/// Define largura de uma coluna dentro de um layout flutuante para direita
@mixin set-columns-right( $columns, $margin, $spaceCount: 1, $delimiters: null ) {
  float: right; @include set-columns( $columns, $margin, $spaceCount );
  &:not( :last-child ) {
    margin-left: $margin
  }
  @if $delimiters {
    @each $position in $delimiters {
      &:nth-child( #{ $position } ) {
        margin-left: 0
      }
    }
  }
}

/// Para elementos com medidas em colapso devido a descendentes flutuantes
@mixin clearfix {
  &::after {
    content: ""; display: table; clear: both; @content;
  }
}

// Layout flexível

/// Definição de conteúdo flexível horizontal
@mixin row-flex( $main: space-between, $cross: center, $wrap: nowrap, $side: normal ) {
  display: flex; flex-flow: row $wrap; justify-content: $main; align-items: $cross; align-content: $side
}

/// Definição de conteúdo flexível vertical
@mixin column-flex( $main: space-between, $cross: center, $wrap: nowrap, $side: normal ) {
  display: flex; flex-flow: column $wrap; justify-content: $main; align-items: $cross; align-content: $side
}

/// Define ordem de aparição de descendentes do conteúdo flexível
@mixin assign-order( $flex-items, $negative: false ) {
  $i: if( $negative, -1, 1 );
  @each $item in $flex-items {
    & #{ unquote( $item ) } {
      order: $i
    };
    $i: if( $negative, $i - 1, $i + 1 )
  }
}

// Posicionamento de elementos

/// Centraliza horizontal e verticalmente elementos de posição absoluta ou fixa
@mixin center-position( $direction: both, $position: absolute, $transform: null ) {
  position: $position; $centralize: "";
  @if $direction == both {
    top: 50%; left: 50%; $centralize: translate( -50%, -50% )
  }
  @else {
    #{ $direction }: 50%; $centralize: if( $direction == left, translateX( -50% ), translateY( -50% ) )
  }
	transform: if( not $transform, $centralize, $centralize $transform )
}

/// Centraliza imagens em dado recipiente
@mixin center-image( $restricted-size: false ) {
  object: { fit: scale-down; position: center };
  @if not $restricted-size {
    width: 100%; height: 100%
  }
  @else {
    width: o-first( $restricted-size ); height: o-last( $restricted-size ); @include center-position
  }
}

// Para pseudoelementos

/// Indica que pseudoelementos não tem conteúdo fraseado
@mixin null-content( $width: 100%, $height: 100% ) {
  content: ""; display: inline-block; width: $width; height: $height
}

/// Posiciona ícone à esquerda de dado seletor
@mixin icon-before( $path, $left: 0, $bottom: 0, $position: absolute ) {
  &::before {
    content: url( o-get-img( $path... ) ); display: inline-block; position: $position; left: $left; bottom: $bottom; @content;
  }
}

/// Posiciona ícone à direita de dado seletor
@mixin icon-after( $path, $right: 0, $bottom: 0, $position: absolute ) {
  &::after {
    content: url( o-get-img( $path... ) ); display: inline-block; position: $position; right: $right; bottom: $bottom; @content;
  }
}

/// Centraliza caractere separador na margem de elementos enfileirados
@mixin topic-separator( $margin, $distance, $char: "|", $exception: ":last-child", $direction: right ) {
  $element: if( $direction == right or $direction == bottom, "::after", "::before" );
  position: relative;
  &:not( #{ unquote( $exception ) } ) {
    margin-#{ $direction }: $margin;
    &#{ unquote( $element ) } {
      content: $char; position: absolute; #{ $direction }: -$distance; @content;
    }
  }
}

/// Desvanece placeholder de dado input ao recebimento de foco
@mixin fade-placeholder( $transition-properties ) {
  &::placeholder {
    transition: opacity #{ $transition-properties }; @content;
  }
  &:focus::placeholder {
    opacity: 0
  }
}

// Definição de formas

/// Forma quadrados
@mixin shape-square( $size, $color: black, $border: none, $rounded: initial ) {
  width: $size; height: $size; background-color: $color; border: $border; border-radius: $rounded
}

/// Forma círculos
@mixin shape-circle( $size, $color: black, $border: none ) {
  @include shape-square( $size, $color, $border, 50% )
}

/// Forma semicírculos
@mixin shape-semicircle( $size, $color: black, $dir: top, $border: none ) {
  $radius: null;
  @if $dir == top {
    $radius: 50% 50% 0 0; clip-path: inset( 0 0 ( $size/2 ) )
  }
  @else if $dir == bottom {
    $radius: 0 0 50% 50%; clip-path: inset( ( $size/2 ) 0 0 )
  }
  @else if $dir == left {
    $radius: 50% 0 0 50%; clip-path: inset( 0 ( $size/2 ) 0 0 )
  }
  @else if $dir == right {
    $radius: 0 50% 50% 0; clip-path: inset( 0 0 0 ( $size/2 ) )
  }
  @include shape-square( $size, $color, $border, $radius )
}

/// Forma triângulos
@mixin shape-triangle( $size, $color: black, $dir: top, $fallback: false ) {
  @include shape-square( $size, $color );
  @if $dir == top {
    clip-path: polygon( 50% 0%, 100% 100%, 0% 100% )
  }
  @else if $dir == bottom {
    clip-path: polygon( 50% 100%, 100% 0%, 0% 0% )
  }
  @else if $dir == left {
    clip-path: polygon( 0% 50%, 100% 0%, 100% 100% )
  }
  @else if $dir == right {
    clip-path: polygon( 100% 50%, 0% 0%, 0% 100% )
  }
  @else if $fallback {
    @supports not ( clip-path: polygon( 0% 0% ) ) {
      background: url( o-get-img( $fallback... ) ) no-repeat center/auto
    }
  }
}

/// Cria traço, com optativa centralização em elemento relativo
@mixin shape-stroke( $width, $height, $color: black, $center: false, $transform: null ) {
  width: $width; height: $height; background-color: $color;
  @if $center {
    @include center-position( $center, absolute, $transform )
  }
}

/// Cria sinal de mais, com optativa centralização em elemento relativo
@mixin shape-plus( $width, $height, $color: black, $center: both, $transform: null ) {
  @include shape-stroke( $width, $height, $color, $center, $transform );
  &::after {
    @include null-content( $width, $height ); background-color: $color; @include center-position( $transform: rotate( 90deg ) ); @content;
  }
}

/// Cria um X, com optativa centralização em elemento relativo
@mixin shape-x( $width, $height, $color: black, $center: both, $transform: null ) {
  @include shape-stroke( $width, $height, $color );
  @if $center {
    @include center-position( $center, absolute, rotate( 45deg ) $transform )
  }
  @else {
    position: relative; transform: rotate( 45deg ) $transform
  }
  &::after {
    @include null-content( $width, $height ); background-color: $color; @include center-position( $transform: rotate( 90deg ) $transform ); @content;
  }
}

// Definição de fontes

/// Define propriedades comuns de fontes
@mixin set-font( $size, $weight: inherit, $color: inherit, $transform: none, $family: inherit ) {
  font: { family: $family; size: $size; weight: $weight }; color: $color; text-transform: $transform
}

// Definição de cores

/// Altera a cor de textos [e/ou] planos de fundo para a de referência
@mixin change-color( $text: ( $color-1, $color-2, $transition-properties, $weight ), $background: ( $color-1, $color-2, $transition-properties, $weight ), $extra: "" ) {
  $transition: ""; $separator: "";
  @if $text {
    $transition: "color " + nth( $text, 3 ); $separator: ", "
  }
  @if $background {
    $transition: $transition + $separator + "background-color " + nth( $background, 3 )
  }
  transition: unquote( $transition ) unquote( $extra ); outline: none;
  &:hover, &:focus {
    @if $text {
      color: mix( nth( $text, 1 ), nth( $text, 2 ), nth( $text, 4 )/1.5 )
    }
    @if $background {
      background-color: mix( nth( $background, 1 ), nth( $background, 2 ), nth( $background, 4 )/1.5 )
    }
  }
  &:active {
    @if $text {
      color: mix( nth( $text, 1 ), nth( $text, 2 ), nth( $text, 4 ) )
    }
    @if $background {
      background-color: mix( nth( $background, 1 ), nth( $background, 2 ), nth( $background, 4 ) )
    }
  }
}

/// Concede gradiente a textos
@mixin text-gradient( $gradient, $fallback ) {
  color: transparent; background-image: $gradient; -webkit-background-clip: text; background-clip: text;
  @supports not ( -webkit-background-clip: text ) {
    color: $fallback; background-image: unset
  }
}

/// Concede gradiente a bordas arredondadas
@mixin rounded-gradient( $element-size, $border-size, $parent-bg, $child-bg ) {
  @include shape-circle( $element-size, $parent-bg, solid $border-size transparent ); background-clip: padding-box; position: relative;
  &::after {
    @include null-content( calc( 100% + #{ $border-size * 2 } ), calc( 100% + #{ $border-size * 2 } ) );
    background-image: $child-bg; border-radius: 50%; position: absolute; top: -#{ $border-size }; left: -#{ $border-size }; z-index: -1; @content;
  }
}

// Definição de Planos de Fundo

/// Definição responsiva de planos de fundo em dado elemento
@mixin set-bg-images( $set-1, $set-2: $set-1, $set-3: $set-2, $set-4: $set-3 ) {
  background: { repeat: no-repeat; size: cover };
  @media ( min-width: 97.5em /* 1560px */ ) {
    background: {
      image: url( o-get-img( x-large, nth( $set-1, 1 ) ) ); position: nth( $set-1, 2 )
    }
  }
  @media ( max-width: 97.5em /* 1559px */ ) and ( min-width: 62.5em /* 1000px */ ) {
    background: {
      image: url( o-get-img( x-large, nth( $set-2, 1 ) ) ); position: nth( $set-2, 2 )
    }
  }
  @media ( max-width: 62.5em /* 999px */ ) and ( min-width: 28.1em /* 450px */ ) {
    background: {
      image: url( o-get-img( large, nth( $set-3, 1 ) ) ); position: nth( $set-3, 2 )
    }
  }
  @media ( max-width: 28.1em /* 449px */ ) {
    background: {
      image: url( o-get-img( medium, nth( $set-4, 1 ) ) ); position: nth( $set-4, 2 )
    }
  }
}

/// Concede imagens de plano de fundo a conjunto de elementos
@mixin assign-bg-image( $images-map, $size, $prefix: ".", $suffix: "" ) {
  @each $selector, $file in $images-map {
    &#{ $prefix + $selector + $suffix } {
      background-image: url( o-get-img( $size, $file ) )
    }
  }
}

// Outros

/// Oculta textos com indicador de ocultamento predefinido
@mixin hidden-text( $sign: ellipsis ) {
  overflow: hidden; white-space: nowrap; text-overflow: $sign
}

/// Indica que conteúdo está preparado para ser selecionado
@mixin select {
  cursor: copy; user-select: all
}

/// Indica que conteúdo não é selecionável
@mixin no-select {
  cursor: not-allowed; user-select: none
}
