@charset "UTF-8";

/* Source Sans Pro */
@font-face {
  font-family: "Source Sans Pro";
	src: local( "Source Sans Pro Light" ), local( "SourceSansPro-Light" ),
	     url( "/assets/fonts/source-sans-pro/source-sans-pro-light.woff2" ) format( "woff2" );
	font-weight: 300; font-style: normal; font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
	src: local( "Source Sans Pro" ), local( "Source Sans Pro Regular" ), local( "SourceSansPro-Regular" ),
	 		 url( "/assets/fonts/source-sans-pro/source-sans-pro-regular.woff2" ) format( "woff2" );
	font-weight: 400; font-style: normal; font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
	src: local( "Source Sans Pro SemiBold" ), local( "SourceSansPro-SemiBold" ),
		 	 url( "/assets/fonts/source-sans-pro/source-sans-pro-semibold.woff2" ) format( "woff2" );
	font-weight: 600; font-style: normal; font-display: swap
}

@font-face {
  font-family: "Source Sans Pro";
	src: local( "Source Sans Pro Black" ), local( "SourceSansPro-Black" ),
	 		 url( "/assets/fonts/source-sans-pro/source-sans-pro-black.woff2" ) format( "woff2" );
	font-weight: 900; font-style: normal; font-display: swap
}
