// Revelação de Conteúdo

/// Revelar
@mixin fade-in( $start: 0, $end: 1 ) {
  @keyframes fade-in {
    from {
      opacity: $start
    }
		to {
      opacity: $end
    }
  }
}

/// Ocultar
@mixin fade-out( $start: 1, $end: 0 ) {
  @keyframes fade-out {
    from {
      opacity: $start
    }
		to {
      opacity: $end
    }
  }
}

/// Revelar & Ocultar
@mixin fade-in-out( $middle: 1, $start: 0, $end: 0 ) {
  @keyframes fade-in-out {
    0% {
      opacity: $start
    }
		10% {
      opacity: $middle
    }
		90% {
      opacity: $middle
    }
		100% {
      opacity: $end
    }
  }
}

// Movimento

/// Deslocamento
@mixin straight-move( $direction, $direction-start, $direction-end: 0,
                      $overrun: false, $overrun-distance: .25,
                      $opacity: false, $opacity-start: 0, $opacity-end: 1
                    ) {

  $straight-move-count: ( left: 0, right: 0, top: 0, bottom: 0 ) !global !default;
  $straight-move-count: map-merge( $straight-move-count, ( #{ $direction }: map-get( $straight-move-count, #{ $direction } ) + 1 ) );

  @keyframes straight-move-#{ $direction }-#{ map-get( $straight-move-count, #{ $direction } ) } {
    0% {
      #{ $direction }: $direction-start;
    	@if $opacity {
        opacity: $opacity-start
      }
    }
    @if $overrun {
      80% {
        #{ $direction }: $direction-end + ( abs( $direction-start ) * $overrun-distance )
      }
    }
    100% {
      #{ $direction }: $direction-end;
    	@if $opacity {
        opacity: $opacity-end
      }
    }
  }
}

// Deslizamento

/// Para Direita
@mixin slide-right( $width-end, $width-start: 0, $overrun: false, $opacity: false, $opacity-start: 0, $opacity-end: 1 ) {
  @keyframes slide-right {
    0% {
      width: $width-start;
			@if $opacity {
        opacity: $opacity-start
      }
    }
		@if $overrun {
      80% {
        width: $width-end * 1.25
      }
    }
		100% {
      width: $width-end;
			@if $opacity {
        opacity: $opacity-end
      }
    }
  }
}

/// Para Baixo
@mixin slide-bottom( $height-end, $height-start: 0, $overrun: false, $opacity: false, $opacity-start: 0, $opacity-end: 1 ) {
  @keyframes slide-bottom {
    0% {
      height: $height-start;
			@if $opacity {
        opacity: $opacity-start
      }
    }
		@if $overrun {
      80% {
        height: $height-end * 1.25
      }
    }
		100% {
      height: $height-end;
			@if $opacity {
        opacity: $opacity-end
      }
    }
  }
}
