*, *::before, *::after {
  padding: 0;
  border: none;
  margin: 0;
}

html {
  font-size: 62.5%;
}

p:not(:first-child), ul:not(:first-child), ol:not(:first-child), menu:not(:first-child), dl:not(:first-child), details:not(:first-child) {
  margin-top: 1.2rem;
}
p:not(:last-child), ul:not(:last-child), ol:not(:last-child), menu:not(:last-child), dl:not(:last-child), details:not(:last-child) {
  margin-bottom: 1.2rem;
}

hr {
  margin: 1.2rem 0;
  border: inset 0.1rem hsla(0deg, 0%, 92%, 0.5);
}

hr.borderless {
  border: none;
}

picture {
  display: inline-block;
}
picture img {
  width: 100%;
  height: auto;
}

img {
  user-select: none;
}

figure figcaption {
  font-style: italic;
}

ul, ol, menu {
  list-style: none;
}
ul li:first-child, ol li:first-child, menu li:first-child {
  margin-top: 0.6rem;
}
ul li:not(:last-child), ol li:not(:last-child), menu li:not(:last-child) {
  margin-bottom: 0.6rem;
}
ul li:not(.no-indent) :is(ul, ol, menu), ol li:not(.no-indent) :is(ul, ol, menu), menu li:not(.no-indent) :is(ul, ol, menu) {
  padding-left: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

ul.markers {
  list-style-type: disc;
  list-style-position: inside;
}
ul.markers ul {
  list-style-type: circle;
}

ol {
  counter-reset: list;
}
ol li::before {
  counter-increment: list;
  content: counters(list, ".") ". ";
}

ol ~ ul ol li::before {
  counter-increment: list;
  content: counter(list) ". ";
}

dl > div:not(:last-child) {
  margin-bottom: 0.6rem;
}
dl dt.inline {
  display: inline;
  font-weight: 600;
}
dl dt.inline::after {
  content: ": ";
}
dl dd.inline {
  display: inline;
}

details {
  background-color: hsl(55deg, 40%, 88%);
  padding: 1.2rem;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}
details summary {
  cursor: pointer;
  user-select: none;
}

a {
  hyphens: none;
  text-decoration: none;
  transition: color 0.5s ease-out;
}

a:link, a:visited {
  color: hsl(225deg, 80%, 50%);
}

a:hover {
  color: hsl(0deg, 80%, 50%);
}

a:active {
  color: hsl(0deg, 100%, 40%);
}

b {
  font-weight: 600;
}

address, cite:not([lang]) {
  font-style: normal;
}

cite.highlight {
  font-style: italic;
}

abbr {
  font-style: normal;
  hyphens: none;
  text-decoration: none;
}
abbr[title] {
  border-bottom: dashed 0.1rem;
  border-color: inherit;
  cursor: help;
}
@media (max-device-width: 899px) {
  abbr[title] {
    border: none;
  }
}
abbr[data-title]::after {
  content: " (" attr(data-title) ")";
}

input, select, textarea {
  font-family: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  outline: none;
  resize: none;
  background-color: transparent;
}

button {
  box-sizing: content-box;
  font-family: inherit;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  outline: none;
  background-color: transparent;
}

template {
  display: none;
}

[tabindex] {
  outline: none;
}

.line {
  display: block;
}

.title {
  font-size: inherit;
  font-weight: 600;
  cursor: default;
}

/*# sourceMappingURL=rules.css.map */
