@charset "UTF-8";

// Predefinições Globais

/// Elementos

*, *::before, *::after {
  padding: 0; border: none; margin: 0;
}

html {
  font-size: 62.5%;
}

p, ul, ol, menu, dl, details {
  &:not( :first-child ) {
    margin-top: 1.2rem;
  }
  &:not( :last-child ) {
    margin-bottom: 1.2rem;
  }
}

hr {
  margin: 1.2rem 0; border: inset .1rem hsla( 0deg, 0%, 92%, .5 );
}

hr.borderless {
  border: none;
}

picture {
  display: inline-block;
  img {
    width: 100%; height: auto;
  }
}

img {
  user-select: none;
}

figure {
  figcaption {
    font-style: italic;
  }
}

ul, ol, menu {
  list-style: none;
  li {
    &:first-child {
      margin-top: .6rem;
    }
    &:not( :last-child ) {
      margin-bottom: .6rem;
    }
    &:not( .no-indent ) :is( ul, ol, menu ) {
      padding-left: 1.2rem; margin: { top: 0; bottom: 0 };
    }
  }
}

ul.markers {
  list-style: { type: disc; position: inside };
  ul {
    list-style-type: circle;
  }
}

ol {
  counter-reset: list;
  li {
    &::before {
      counter-increment: list; content: counters( list, '.' ) '. ';
    }
  }
}

ol ~ ul {
  ol {
    li {
      &::before {
        counter-increment: list; content: counter( list ) '. ';
      }
    }
  }
}

dl {
  & > div {
    &:not( :last-child ) {
      margin-bottom: .6rem;
    }
  }
  dt.inline {
    display: inline; font-weight: 600;
  	&::after {
      content: ": ";
    }
  }
  dd.inline {
    display: inline;
  }
}

details {
  background-color: hsl( 55deg, 40%, 88% ); padding: 1.2rem; border-radius: 1rem; box-shadow: 0 .3rem .5rem 0 rgba( 0, 0, 0, 20% );
  summary {
    cursor: pointer; user-select: none;
  }
}

a {
  hyphens: none; text-decoration: none; transition: color .5s ease-out;
}

a:link, a:visited {
  color: hsl( 225deg, 80%, 50% );
}

a:hover {
  color: hsl( 0deg, 80%, 50% );
}

a:active {
  color: hsl( 0deg, 100%, 40% );
}

b {
  font-weight: 600;
}

address, cite:not( [ lang ] ) {
  font-style: normal;
}

cite.highlight {
  font-style: italic;
}

abbr {
  font-style: normal; hyphens: none; text-decoration: none;
	&[ title ] {
    border: { bottom: dashed .1rem; color: inherit }; cursor: help;
		@media( max-device-width: 899px ) {
      border: none;
    }
  }
 	&[ data-title ]::after {
    content: " (" attr( data-title ) ")";
  }
}

input, select, textarea {
  font: { family: inherit; weight: inherit; stretch: inherit }; outline: none; resize: none; background-color: transparent;
}

button {
  box-sizing: content-box; font-family: inherit; line-height: 1; cursor: pointer; user-select: none; outline: none; background-color: transparent;
}

template {
  display: none;
}

/// Atributos & Classes

[ tabindex ] {
  outline: none;
}

.line {
  display: block;
}

.title {
  font-size: inherit; font-weight: 600; cursor: default;
}
