#tactics-manual {
  font: 1.4rem/1.2 "Source Sans Pro", sans-serif;
  color: black;
  box-sizing: border-box;
  width: 100%;
  max-width: 163rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: hsl(0deg, 0%, 75%) url("/assets/images/backgrounds/parchment.webp") top/100%;
  background-blend-mode: hard-light;
}

#top-header {
  width: 100%;
  margin-bottom: 2.5rem;
}
#top-header .content-title {
  line-height: 1.1;
  text-align: center;
  cursor: default;
}
#top-header .content-title.en .title {
  font-size: 3rem;
  font-weight: 900;
}
#top-header .content-title.en .subtitle {
  font-size: 2.4rem;
  font-weight: 600;
  word-spacing: 0.4rem;
  letter-spacing: 0.1rem;
}
#top-header .content-title.pt .title {
  font-size: 3.6rem;
  font-weight: 600;
}
#top-header .content-title.pt .subtitle {
  font-size: 2.4rem;
  font-weight: 900;
}

#manual-summary {
  margin: 2.4rem 0;
}
#manual-summary .content-header {
  margin-bottom: 0.4rem;
}
#manual-summary .content-header .title {
  font-size: 2.2rem;
}
#manual-summary .content-body {
  padding-left: 1.2rem;
}
#manual-summary .content-body ol {
  overflow: hidden;
}
#manual-summary .content-body ol li .marker {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.5s ease-out;
}
#manual-summary .content-body ol li .marker.active {
  transform: rotate(90deg);
}
#manual-summary .content-body ol li .marker + ol {
  height: 0;
  transition: height 0.5s ease-out;
}

#standard-manual .content-body {
  counter-reset: section;
}
#standard-manual .content-body section .title::before {
  counter-increment: section;
  content: counters(section, ".") ". ";
}
#standard-manual .content-body h3 {
  font-size: 2.4rem;
  margin: 2.1rem 0;
}
#standard-manual .content-body .appendix-section section:first-child h3 {
  margin-top: 0;
}
#standard-manual .content-body h4 {
  font-size: 2.1rem;
  margin: 1.8rem 0;
}
#standard-manual .content-body .appendix-section section:first-child h4 {
  margin-top: 0;
}
#standard-manual .content-body h5 {
  font-size: 1.8rem;
  margin: 1.5rem 0;
}
#standard-manual .content-body .appendix-section section:first-child h5 {
  margin-top: 0;
}
#standard-manual .content-body h6 {
  font-size: 1.5rem;
  margin: 1.2rem 0;
}
#standard-manual .content-body .appendix-section section:first-child h6 {
  margin-top: 0;
}
#standard-manual .content-body .appendix-section .content-body .title, #standard-manual .content-body .appendix-section .content-body .title-marker {
  display: inline-block;
}
#standard-manual .content-body .appendix-section .content-body .title-marker {
  font-size: 1.8rem;
  font-weight: 300;
}
#standard-manual .content-body .appendix-section .content-body .title-marker::before {
  content: "(";
}
#standard-manual .content-body .appendix-section .content-body .title-marker::after {
  content: ")";
}
@media (max-width: 749px) {
  #standard-manual .content-body .game-ui {
    display: none;
  }
}
#standard-manual .content-body .game-ui .image-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  column-gap: 1.2rem;
  margin-top: 1.2rem;
}
#standard-manual .content-body .game-ui .image-block .image-container {
  flex-shrink: 1;
}
#standard-manual .content-body .game-ui .image-block .image-container img {
  max-width: 60rem;
  max-height: 60rem;
}
#standard-manual .content-body .game-ui .image-block .image-caption {
  max-width: 85rem;
  flex-shrink: 3;
  text-align: center;
}

/*# sourceMappingURL=tactics-manual.css.map */
