@use '../../styles/presets/mixins/general-mixins' as *;

@charset "UTF-8";

// Corpo
#tactics-manual {
  font: 1.4rem/1.2 'Source Sans Pro', sans-serif; color: black; @include set-grid( 160rem ); padding: { top: 1.5rem; bottom: 1.5rem };
  background: hsl( 0deg, 0%, 75% ) url( '/assets/images/backgrounds/parchment.webp' ) top / 100%; background-blend-mode: hard-light;
}

// Cabeçalho Inicial
#top-header {
  width: 100%; margin-bottom: 2.5rem;
  .content-title {
    line-height: 1.1; text-align: center; cursor: default;
    &.en {
      .title {
        font: { size: 3rem; weight: 900 };
      }
      .subtitle {
        font: { size: 2.4rem; weight: 600 }; word-spacing: .4rem; letter-spacing: .1rem;
      }
    }
    &.pt {
      .title {
        font: { size: 3.6rem; weight: 600 };
      }
      .subtitle {
        font: { size: 2.4rem; weight: 900 };
      }
    }
  }
}

// Sumário
#manual-summary {
  margin: 2.4rem 0;
  .content-header {
    margin-bottom: .4rem;
    .title {
      font-size: 2.2rem;
    }
  }
  .content-body {
    padding-left: 1.2rem;
    ol {
      overflow: hidden;
      li {
        .marker {
          display: inline-block; cursor: pointer; transition: transform .5s ease-out;
          &.active {
            transform: rotate( 90deg );
          }
          & + ol {
            height: 0; transition: height .5s ease-out;
          }
        }
      }
    }
  }
}

// Corpo do manual
#standard-manual {
  & .content-body {
    // Contadores das seções
    counter-reset: section;
    section {
      .title::before {
        counter-increment: section; content: counters( section, '.' ) '. ';
      }
    }

    // Tamanho dos títulos
    $title-size: 2.4rem; $margim: 2.1rem;
    @for $i from 3 through 6 {
      h#{ $i } {
        font-size: $title-size; margin: $margim 0;
      }
      .appendix-section section:first-child h#{ $i } {
        margin-top: 0;
      }
      $title-size: $title-size - .3rem; $margim: $margim - .3rem;
    }

    // Marcadores de títulos em apêndices
    .appendix-section {
      .content-body {
        .title, .title-marker {
          display: inline-block;
        }
        .title-marker {
          font: { size: 1.8rem; weight: 300 };
          &::before {
            content: '(';
          }
          &::after {
            content: ')';
          }
        }
      }
    }

    // Ilustrações
    .game-ui {
      @media ( max-width: 749px ) {
        display: none;
      }
      .image-block {
        @include row-flex( center ); column-gap: 1.2rem; margin-top: 1.2rem;
        .image-container {
          flex-shrink: 1;
          & img {
            max-width: 60rem; max-height: 60rem;
          }
        }
        .image-caption {
          max-width: 85rem; flex-shrink: 3; text-align: center;
        }
      }
    }
  }
}
